SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
SPOTIFY_REFRESH_TOKEN=
SPOTIFY_ADEU_PLAYLIST_ID=
SPOTIFY_YENI_PLAYLIST_ID=
SPOTIFY_RELEASE_RADAR_PLAYLIST_ID=
SPOTIFY_MASNUEVOS_PLAYLIST_ID=
SPOTIFY_ULTIMATE_PLAYLIST_ID=
# Optional comma-separated list of Spotify artist IDs.
SPOTIFY_EXCLUDED_ARTIST_IDS=
